@model IEnumerable<ETicaret2023.Models.Sepet>

@{
    ViewBag.Title = "Ürünler";
}

<div class="jumbotron">
    <h1>Sepet Bölümü</h1>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Urunler.UrunAdi)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Adet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToplamTutar)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Urunler.UrunAdi)
            </td>
            <td>
                <form action="/Sepet/SepetGuncelle">
                    <input type="hidden" value="@item.SepetID" name="id" id="id"/>
                    <input type="number" name="adet" id="adet" value="@item.Adet" />
                    <input type="submit" id="gonder" value="Güncelle" />
                </form>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToplamTutar)
            </td>
           
            <td>
                @Html.ActionLink("Sil", "Delete", new { id = item.SepetID }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

    <tr>
        <th>
            Toplam
        </th>
        <th>@Model.Sum(x=>x.Adet)</th>
        <th>@Model.Sum(x=>x.ToplamTutar) TL</th> <th></th>
    </tr>
    <tr>
        <td><a href="/Home/Index" class="btn btn-default">Alışverişe Devam Et</a></td>
        <td colspan="3" style="text-align:right"><a href="/Siparis/SiparisTamamla" class="btn btn-success">Alışverişi Tamamla</a></td>
    </tr>
</table>
